<script>

</script>

<form method="POST" action="/file" enctype="multipart/form-data" >
    <label for="username">Username</label>
    <input name="username" type="text" />
    <label for="upload">Upload file</label>
    <input name="upload" multiple type="file"  />
    <button type="submit"> Submit </button>
</form>